      <div class="col-md-8 col-md-offset-2">
        <div class="jumbotron">
          <h1>Hello World!</h1>
          <p>This is my memory space.</p>
          <p><a class="btn btn-primary btn-lg" href="/posts" role="button">Get into New World</a></p>
        </div>
      </div>


<div class="col-md-8 col-md-offset-2">
  <div class="jumbotron">
    <h1>Gakki world!</h1>
    <p>This is Gakki space.</p>
    <p>
      <a class="btn btn-default btn-lg" href="/waterfall_1" role="button">Waterfall with js</a>
      <br><br>
      <a class="btn btn-warning btn-lg" href="/waterfall_2" role="button">Waterfall with JQuery</a>
      <br><br>
      <a class="btn btn-primary btn-lg" href="/waterfall_3" role="button">Waterfall with css</a>
    </p>
  </div>
</div>
