      <div class="col-md-8 col-md-offset-2">
        <div class="jumbotron">
          <h1>Hello World!</h1>
          <p>This is my memory space.</p>
          <p><a class="btn btn-primary btn-lg" href="/posts" role="button">Get into New World</a></p>
        </div>
      </div>
